@import "../fonts/beone_icons/css/beone_icons.css";
@import "../fonts/SegoeUISymbol/styles.css";
@font-face { font-family: 'beone-font'; src: url('/resources/fonts/icomoon.ttf') format('truetype'); }

.beone-icon-calendar:before {
	content:"\e900"
}

body {
	background-color:#f5f5f5;
}

.info-bar {
  width: 815px;
  height: 60px;
  transform: translate(-240px, 0px);
  background-color: #5a5a5a;
  border-bottom-right-radius: 20px;
  line-height: 60px;
  padding-left: 240px;
  font-size: 38px;
  color: white;
  position:absolute;
}
.info-date {
  font-size: 20px;
  padding-left: 20px;
}

.profile-area {
	margin-top: -110px;
	padding: 0px 40px 0px 40px !important;
}

.profile-area .profile-img {
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
	width: 167px;
	height: 167px;
}

.profile-label {
  text-align: center;
  font-size: 18px;
  padding: 15px 0 30px 0;
}

.answerText {
	word-wrap: break-word;
}

.experienceText {
	word-wrap: break-word;
}

.diary-buttons {
	background-color:#818181 !important;
	color:white;
	border-width:0px;
}

.diary-panel {
	-webkit-box-shadow: none;
	box-shadow: none;
}

#test {
    text-align:center;
}

#dailies-header {
    color:#5f625e;
}

#happenings-header {
    /* padding-top: 60px; */
    color:#5f625e;
}

#experiences-header {
    color:#5f625e;
}

.subcategoryList {
	max-height: 200px;
	overflow: auto;
	text-align: left;
	margin-left: 20px;
	margin-top: 10px;
}

.datepicker-input {
	border: 0px solid white; 
    padding: 15px;
    background: rgba(255,255,255,0);
    margin: 10px 0 10px 0;
	font-size: 18px;
}
.datepicker-inline {
	width:100% !important;
}

.datepicker-input:hover {
	cursor: pointer;
}

.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border: none;
}

.table-condensed {
	width:100%;
	background-color:rgba(210, 210, 210, 0.2);
}

.modal-body {
	padding-top: 15px;
}

.homepage-wishes {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

.homepage-wishes li {
	list-style-type: none;
}

.profile-item {
	margin-top:10px;
}

.title-page {
	background: url('/resources/images/webapp_cover.png') no-repeat center center;	
	background-size:100% 100% !important;
	height: 500px;
}

.title-page .b-logo {
  height: 72px;
  width: 85px;
  margin-left: 65px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  font-size: 40px;
  color: #4d5155;
  line-height: 72px;
  text-align: center;
}

.title-page .mood {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 50px;
  left: 40%;
  width: 20%;
}

.title-page .instagram {
  text-align: center;
  color: white;
  float: right;
  font-size: 15px;
  margin: 60px 20px 0 0;
  position: absolute;
  bottom: 10px;
  right: 2%;
}

.title-page .mood .emoji {
	font-family: 'SegoeUISymbol';
	color: white;
	text-decoration: none;
	font-size: 25px;
	margin: 0 5px 0 5px;
}
 .profile-picture {
    text-align: center;
    width: 100%;
    border-radius: 50%;
    position: relative;
    height: 0;
    padding: 50% 0;   
 }
.header-bar {
	height: 50px;
}

.btn {
	border-radius:0px;
}

.btn-google {
	border: 1px solid rgba(221, 221, 221, 0.5); 
	width: 44px; 
	height: 34px;
}

.btn-facebook {
	width: 44px;
	height: 34px;
	line-height: 1.42857143;
	background: #3b5998;
	border: none;
}

.btn-twitter {
	width: 44px; 
	height: 34px; 
	line-height: 1.42857143; 
	background: #00aced; 
	border: none;
}

#fileUpload {
	height:40px !important;
	padding:0px !important;
	border:0px !important;
}

.plusc-button {
	height:34px;
	border: 1px solid rgba(221, 221, 221, 0.5);
}

.plusc-share-buttons {
	height:44px !important;
	width:44px !important;
	border-radius:50%;
}

/***************************************************************
***************************************************************
*
*	Bootstrap overwrites for Buttons of calendars
*
***************************************************************
***************************************************************/
.btn-international {
  color: #fff;
  background-color: #65CBBB;
}
.btn-international:hover,
.btn-international:focus,
.btn-international:active,
.btn-international.active,
.open > .dropdown-toggle.btn-international {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.btn-international:active,
.btn-international.active,
.open > .dropdown-toggle.btn-international {
  background-image: none;
}
.btn-international.disabled,
.btn-international[disabled],
fieldset[disabled] .btn-international,
.btn-international.disabled:hover,
.btn-international[disabled]:hover,
fieldset[disabled] .btn-international:hover,
.btn-international.disabled:focus,
.btn-international[disabled]:focus,
fieldset[disabled] .btn-international:focus,
.btn-international.disabled:active,
.btn-international[disabled]:active,
fieldset[disabled] .btn-international:active,
.btn-international.disabled.active,
.btn-international[disabled].active,
fieldset[disabled] .btn-international.active {
  background-color: #65CBBB;
  border-color: #357ebd;
}
.btn-international .badge {
  color: #65CBBB;
  background-color: #fff;
}
/*********/
.btn-independence {
  color: #fff;
  background-color: #3D5B9E;
}
.btn-independence:hover,
.btn-independence:focus,
.btn-independence:active,
.btn-independence.active,
.open > .dropdown-toggle.btn-independence {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.btn-independence:active,
.btn-independence.active,
.open > .dropdown-toggle.btn-independence {
  background-image: none;
}
.btn-independence.disabled,
.btn-independence[disabled],
fieldset[disabled] .btn-independence,
.btn-independence.disabled:hover,
.btn-independence[disabled]:hover,
fieldset[disabled] .btn-independence:hover,
.btn-independence.disabled:focus,
.btn-independence[disabled]:focus,
fieldset[disabled] .btn-independence:focus,
.btn-independence.disabled:active,
.btn-independence[disabled]:active,
fieldset[disabled] .btn-independence:active,
.btn-independence.disabled.active,
.btn-independence[disabled].active,
fieldset[disabled] .btn-independence.active {
  background-color: #3D5B9E;
  border-color: #357ebd;
}
.btn-independence .badge {
  color: #428bca;
  background-color: #fff;
}
/*********/
.btn-national {
  color: #fff;
  background-color: #E74C3C;
}
.btn-national:hover,
.btn-national:focus,
.btn-national:active,
.btn-national.active,
.open > .dropdown-toggle.btn-national {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.btn-national:active,
.btn-national.active,
.open > .dropdown-toggle.btn-national {
  background-image: none;
}
.btn-national.disabled,
.btn-national[disabled],
fieldset[disabled] .btn-national,
.btn-national.disabled:hover,
.btn-national[disabled]:hover,
fieldset[disabled] .btn-national:hover,
.btn-national.disabled:focus,
.btn-national[disabled]:focus,
fieldset[disabled] .btn-national:focus,
.btn-national.disabled:active,
.btn-national[disabled]:active,
fieldset[disabled] .btn-national:active,
.btn-national.disabled.active,
.btn-national[disabled].active,
fieldset[disabled] .btn-national.active {
  background-color: #E74C3C;
  border-color: #357ebd;
}
.btn-national .badge {
  color: #009999;
  background-color: #fff;
}

/*********/
.btn-holy {
  color: #fff;
  background-color: #EB9532;
}
.btn-holy:hover,
.btn-holy:focus,
.btn-holy:active,
.btn-holy.active,
.open > .dropdown-toggle.btn-holy {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.btn-holy:active,
.btn-holy.active,
.open > .dropdown-toggle.btn-holy {
  background-image: none;
}
.btn-holy.disabled,
.btn-holy[disabled],
fieldset[disabled] .btn-holy,
.btn-holy.disabled:hover,
.btn-holy[disabled]:hover,
fieldset[disabled] .btn-holy:hover,
.btn-holy.disabled:focus,
.btn-holy[disabled]:focus,
fieldset[disabled] .btn-holy:focus,
.btn-holy.disabled:active,
.btn-holy[disabled]:active,
fieldset[disabled] .btn-holy:active,
.btn-holy.disabled.active,
.btn-holy[disabled].active,
fieldset[disabled] .btn-holy.active {
  background-color: #EB9532;
  border-color: #357ebd;
}
.btn-holy .badge {
  color: #EB9532;
  background-color: #fff;
}

/*********/
.btn-calendar {
  margin-bottom: 5px;
  border-radius: 5px;
}
.btn-astro {
  color: #fff;
  background-color: #674172;
}
.btn-astro:hover,
.btn-astro:focus,
.btn-astro:active,
.btn-astro.active,
.open > .dropdown-toggle.btn-astro {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.btn-astro:active,
.btn-astro.active,
.open > .dropdown-toggle.btn-astro {
  background-image: none;
}
.btn-astro.disabled,
.btn-astro[disabled],
fieldset[disabled] .btn-astro,
.btn-astro.disabled:hover,
.btn-astro[disabled]:hover,
fieldset[disabled] .btn-astro:hover,
.btn-astro.disabled:focus,
.btn-astro[disabled]:focus,
fieldset[disabled] .btn-astro:focus,
.btn-astro.disabled:active,
.btn-astro[disabled]:active,
fieldset[disabled] .btn-astro:active,
.btn-astro.disabled.active,
.btn-astro[disabled].active,
fieldset[disabled] .btn-astro.active {
  background-color: #674172;
  border-color: #357ebd;
}
.btn-astro .badge {
  color: #674172;
  background-color: #fff;
}

/*********/
.btn-nature {
  color: #fff;
  background-color: #66CC99;
}
.btn-nature:hover,
.btn-nature:focus,
.btn-nature:active,
.btn-nature.active,
.open > .dropdown-toggle.btn-nature {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.btn-nature:active,
.btn-nature.active,
.open > .dropdown-toggle.btn-nature {
  background-image: none;
}
.btn-nature.disabled,
.btn-nature[disabled],
fieldset[disabled] .btn-nature,
.btn-nature.disabled:hover,
.btn-nature[disabled]:hover,
fieldset[disabled] .btn-nature:hover,
.btn-nature.disabled:focus,
.btn-nature[disabled]:focus,
fieldset[disabled] .btn-nature:focus,
.btn-nature.disabled:active,
.btn-nature[disabled]:active,
fieldset[disabled] .btn-nature:active,
.btn-nature.disabled.active,
.btn-nature[disabled].active,
fieldset[disabled] .btn-nature.active {
  background-color: #66CC99;
  border-color: #357ebd;
}
.btn-nature .badge {
  color: #66CC99;
  background-color: #fff;
}

