.avatar-img {
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

#test {
    text-align:center;
}

#dailies-header {
    color:#ffca75;
}

#happenings-header {
    color:#88db7c;
}

#experiences-header {
    color:#e58686;
}